
html {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(177, 226, 247);
    text-align: center;
}

#title {
    font-size: 32px;
    font-weight: regular;
    text-align: center;
    color:black;
    font-style: normal;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.logo {
    width: 600px;
    height: 300px;
}

#img {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#quote {
    color:rgb(4, 4, 4);
    font-size: 18px;
    /* margin-top: 20px; */
    margin: center;
  }

#character-name {
    color:rgb(0, 0, 0);
    font-size: 14px;
    text-align: 50px;
    font-style: light;
     margin-bottom: 0 auto;
}

#btn-content {
    color: rgb(247, 44, 98);
    font-size: 14px;
    margin: center;
    font-style: light;
    /* margin-bottom: 0 auto; */
}

#btn {
    background-color: black;
    color: white;
    border-radius: 5px; 
    cursor: pointer;
    outline: none;   
    border: none;
    padding: 15px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    margin-bottom: 10px;
   
}

/* #btn:hover {
    background-color: rgb(247, 44, 98);
    color: white;
    outline: none;  
} */
