body {
    background-color: beige;
    min-height: 10vh;
    text-align: center;
    padding: 100px;
}

.container {
    background-color: #fff;
    width: 80vh;
    padding: 40px;
    height: 55vh;
    border:3px solid rgb(154, 209, 241);
    border-radius: 10px;
}

.quote-text {
    min-height: 20vh;
}

.container h1 {
    font-size: 50px;
    text-align: left;
}

.container p {
    text-transform: captilize;
    color: #ced0ce;
    text-align: right;
    font-style: italic;
    font-size: 30px;
}
/* 
 #img {
    width: 400px;
    height: 300px;
} */

#btn {
    margin-top: 30px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgb(120, 29, 180);
    color: rgb(60, 182, 219);
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    color: rgb(120, 29, 180);
    background-color: rgb(60, 182, 219);
}